html, body {
    margin: 10;
    padding: 10;
    background: aqua;
  font-family: 'Bangers', cursive;
    
}

.grid {
    display: flex;
    flex-wrap: wrap;
    width: 200px;
    height: 200px;
    border: solid 2px black;
  background-image: linear-gradient(aqua, yellow);
}

.square {
    width: 20px;
    height: 20px;
}

#start{
  font-family: 'Bangers', cursive;
  display: inline-block;
  margin: 0 auto;
  font-size: 16px;
  padding: 10px 25px;
  border: none;
  color: white;
  background: black;
  box-shadow: -2px 6px 18px 3px rgba(0,0,0,0.75);
  
}
#start:hover{
  cursor: pointer;
  background: orange;
}

.snake {
    background-color: green;
    border-radius: 50%;
}

.apple {
    background-color: red;
    border-radius: 50%;
}
